html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'DotGothic16', sans-serif;
}
.container {
  overflow: visible;
  height: 100vh;
  z-index: -999;
}
.app {
  width: 100%;
  margin: 0 auto;
}
#form {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
}
input[type='text'] {
  padding: 10px 40px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  font-family: 'DotGothic16', sans-serif;
  margin-right: 10px;
}
input[type='text']::placeholder {
  color: white;
  font-family: 'DotGothic16', sans-serif;
}

button[type='submit'] {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  font-family: 'DotGothic16', sans-serif;
}

canvas {
  background-color: black;
}
.fa.fa-send {
  color: white;
}
